<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<!-- <% include nav%> -->
<a href="/">首页1</a><br/><br />
		<a href="/subform">如何提交表单并接收参数</a><br/><br />
		<a href="/usesession">如何使用session？</a><br/><br />
		<a href="/usecookies">如何使用cookies？</a><br/><br />
		<a href="/usecrypto">如何使用字符串加密？</a>			
  </body>
</html>
