<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<a href="/">首页</a>
		<a href="/subform">如何提交表单并接收参数</a>
		<a href="/usesession">如何使用session？</a>
		<a href="/usecookies">如何使用cookies？</a>
		<a href="/usecrypto">如何使用字符串加密？</a>	

    <!-- <form method="post">
        用户名字：<input type="text" name="txtUserName" id="txtUserName">
        用户密码：<input type="password" name="txtUserPwd" id="txtUserPwd">
        <input type="submit" name="" value="提交">
    </form> -->
  </body>
</html>
