<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<a href="/">首页</a>
		<a href="/subform">如何提交表单并接收参数</a>
		<a href="/usesession">如何使用session？</a>
		<a href="/usecookies">如何使用cookies？</a>
		<a href="/usecrypto">如何使用字符串加密？</a>	



      <form method="post">
          用户名：<input type="text" id="txtUserName" name="txtUserName" />
          密码：<input type="password" id="txtUserPwd" name="txtUserPwd" />
          <input type="submit" value="提交">
      </form>
  </body>
</html>
